.date-separator {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px 0;
  text-align: center;
}

.date-separator .line {
  flex: 1;
  height: 1px;
  background-color: #ccc;
}

.date-separator .date {
  padding: 0 5px;
  font-size: 10px; /* Smaller font size */
  background-color: #414141;
  color: #ffffff;
  border-radius: 4px;
  white-space: nowrap;
  font-weight: normal; /* Non-bold text */
}
